@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap);
  }
}

body {
  background-color: #4E548B; 
  margin: 0;
  padding: 0;
}