@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Playwrite_DE_Grund';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('@/assets/fonts/playwrite-de-grund.ttf') format('truetype');
  }
}

[data-p-active='true'] {
  background-color: rgba(238, 236, 236, 0.514) !important;
  color: rgb(146, 144, 144) !important;
}

body {
  background-color: #FCFDFF; 
  margin: 0;
  padding: 0;
}